* {
	margin: 10;
	padding: 10;

}
body {
	background-color: #FFE4C4;
	color: #;
	font-size: 30px;
}

a {
	color: #0000FF;
	margin-left: 20px;
	margin-right: 20px;

}

hr{
	height: 3px;
	background-color: #00FFFF;

}


h4 {
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
}

p {
	text-align: justify;
	font-family: cursive;
	margin: 30px;

}


